<form [formGroup]="myForm" (ngSubmit)="submitFormulario()">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input formControlName="usuario" [class.is-invalid]="f.usuario.errors && f.usuario.touched" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu email">
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Email obligatorio.
          </div>
    </div>
    
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu contraseña">
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Contraseña obligatoria
          </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-success">Ingresar</button>
    </div>
</form>