<div class="componente-derecha">
  <div class="container mt-3">

    <div *ngIf="rol === 2">
      <!-- Contenido a mostrar si id_rol es igual a 2 -->
      <h1>Bienvenido Empleador</h1>
      <h1>Holi</h1>
      <p>Esto es una prueba de visualización</p>
    </div>

    <div *ngIf="rol === 3">
       <!-- Contenido a mostrar si id_rol es igual a 3 -->
       <h1>Bienvenido Empleado</h1>
       <h3>Publicaciones a las que se puede postular</h3>

       <div *ngIf="publicacionesActivas.length > 0; else noPublicaciones"  class="list-group-item">
         <!-- Mostrar la lista de publicaciones -->
         <ul class="list-group">
           <li *ngFor="let publicacion of publicacionesActivas">
             <!-- Aquí puedes mostrar la información de cada publicación -->
             <div class="d-flex flex-row mb-2 justify-content-between">
              <div class="publiIndividual">
                <div class="contenido">
                  <h5>{{ publicacion.titulo }}</h5>
                  <p> {{ publicacion.descripcion }}</p>
                </div>
                <div class="botones">
                  <button type="button" class="btn btn-primary" >Postular</button>
                </div>
               </div>
             </div>
             <!-- Agrega más campos según tus necesidades -->
           </li>
         </ul>

       </div>

       <ng-template #noPublicaciones>
         <!-- Mostrar un mensaje si no hay publicaciones -->
         <p>No hay publicaciones activas en este momento.</p>
       </ng-template>
    </div>

  </div>
</div>

