.componente-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: 'Geologica', sans-serif;
  margin-bottom: 60px;
  min-height: 100vh;
}

.list-group-item{
  margin-bottom: 10px;
}

.publiIndividual{
  border: 2px solid #666666;
  width: 60%;
  height: 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px #006666;
  margin-top: 10px;
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  margin-left: auto; /* Margen izquierdo */
  margin-right: auto; /* Margen derecho */
}
h1, h3{
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom:5px;
}
.contenido{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenido h5{
  font-weight: bold;
  font-size: 1.3rem;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.botones{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.botones button{
  margin-left: 10px;
}

.btn.btn-primary{
  background-color: #006666;
}

/*Responsive*/

@media (max-width:768px){
  .publiIndividual{
    width: 80%;
  }
}

@media (max-width:320px){
  .publiIndividual{
    width: 100%;
  }
  .botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: 10%; /* Margen izquierdo */
    margin-right: 10%;
  }

}
