<div class="componente-derecha">
  <div class="container mt-3">
    <h1>Lista de Publicaciones</h1>
    <ul class="list-group">
      <li *ngFor="let publicacion of publicaciones" class="list-group-item">
        <div class="d-flex flex-row mb-2 justify-content-between">
          <div>
            <h5><b>Título: </b>{{ publicacion.titulo }}</h5>
            <div class="parrafoPubli">
              <p><b>Descripción: </b>{{ publicacion.descripcion }}</p>
            </div>
          </div>
          <div class="botones">
            <button type="button" class="btn btn-primary" routerLink="/sesion/gestionarPublicacion/{{ publicacion.id_publicacion }}">Gestionar</button>
            <button type="button" class="btn btn-secondary" routerLink="/sesion/editarPublicacion/{{ publicacion.id_publicacion }}">Modificar </button>
            <button type="button" class="btn btn-success" (click)="mostrarAlerta(publicacion)">Eliminar</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
 <!-- {{publicaciones | json}} -->
</div>
