<div class="componente-derecha">
  <div class="container-fluid divBarra">
    <div class="row">
      <div div role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
        <div class="container mt-3">
          <h1>Lista de contratos activos</h1>

          <div *ngFor="let contrato of contratos">
            <ng-container
              *ngIf="
                (contrato.publicacion.calificado && !contrato.calificado) ||
                (!contrato.publicacion.calificado && !contrato.calificado)
              "
            >
              <div class="card">
                <div class="card-header">
                  <h4>{{ contrato.publicacion.titulo }}</h4>
                  <p>Descripción: {{ contrato.publicacion.descripcion }}</p>
                  <p>Empleador:
                    {{ contrato.publicacion.empleador.usuario.nombre }}
                    {{ contrato.publicacion.empleador.usuario.apellido }}
                  </p>
                  <p>Email Empleador: {{ contrato.publicacion.empleador.usuario.email }}</p>

                  <ng-container *ngIf="!contrato.publicacion.calificado">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="
                        calificarEmpleador(
                          contrato.publicacion.id_empleador,
                          contrato.id_publicacion
                        )
                      "
                    >
                      Calificar
                    </button>
                  </ng-container>
                  <ng-container *ngIf="contrato.publicacion.calificado">
                    <button type="button" class="btn btn-secondary" disabled>
                      Calificado
                    </button>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
