<div class="componente-derecha">
  <div class="container-fluid divBarra">
      <div class="row">
        <div div role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
          <div class="container mt-3">
            <div *ngFor="let contrato of contratos">

              <div class="card">
                <div class="card-header">
                  <p>{{contrato.publicacion.titulo}}</p>
                  <p>{{contrato.publicacion.descripcion}}</p>
                  <p>{{contrato.publicacion.empleador.usuario.nombre}} {{contrato.publicacion.empleador.usuario.apellido}}</p>
                  <p>{{contrato.publicacion.empleador.id_usuario}}</p>
                  <p>{{contrato.publicacion.empleador.usuario.email}}</p>

          </div>
          <!-- {{contrato | json}} -->
        </div>
      </div>
  </div>
</div>


