.componente-derecha {
  margin-left: 250px;
  padding: 1rem;
  font-family: 'Geologica', sans-serif;
  margin-bottom: 60px;
  min-height: 100vh;
}
.divBarra{
  color:#434242;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 0;
  height: auto;
  width: auto;
}
.card{
  max-width: 700px;
}
.btn.btn-primary{
  background: #006666;
  border: 2px solid #006666;

}
.btn.btn-primary:hover{
  background: white;
  border: 2px solid #006666;
  color: #006666;
}


