<div class="componente-derecha">
  <div class="container-fluid divBarra">
    <div class="row">
      <div div role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
        <div class="container mt-3">
          <h1>Lista de contratos activos</h1>

          <div *ngFor="let contrato of contratos">
            <ng-container
              *ngIf="
                (!contrato.publicacion.calificado && contrato.calificacion_done) ||
                (!contrato.publicacion.calificado && !contrato.calificacion_done)
              "
            >
              <div class="card">
                <div class="card-header">
                  <h4>{{ contrato.publicacion.titulo }}</h4>
                  <p><b>Descripción:</b> {{ contrato.publicacion.descripcion }}</p>
                  <p><b>Empleador:</b>
                    {{ contrato.publicacion.empleador.usuario.nombre }}
                    {{ contrato.publicacion.empleador.usuario.apellido }}
                  </p>
                  <p><b>Email Empleador:</b> {{ contrato.publicacion.empleador.usuario.email }}</p>

                  <ng-container *ngIf="!contrato.calificacion_done">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="
                        calificarEmpleador(
                          contrato.publicacion.id_empleador,
                          contrato.id_publicacion
                        )
                      "
                    >
                      Calificar
                    </button>
                  </ng-container>
                  <ng-container *ngIf="contrato.calificacion_done">
                    <button type="button" class="btn btn-secondary" disabled>
                      Calificado
                    </button>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
