<div class="componente-derecha">
  <div class="container-fluid divBarra">
    <div class="row">
      <!-- Contenido a la derecha -->
      <div div role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
        <div class="container mt-3">
          <ng-container *ngIf="mode == estado.Crear">
            <h1>Crear publicación</h1>
          </ng-container>
          <ng-container *ngIf="mode == estado.Modificar">
            <h1>Editar publicación</h1>
          </ng-container>
          <ng-container *ngIf="mode == estado.Mostrar">
            <h1>Información de la publicación</h1>
          </ng-container>
          <form form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
            <!-- Titulo -->
            <div class="mb-3 titulo">
              <label for="tituloInput" class="form-label">Título</label>
              <input
                formControlName="titulo"
                [class.is-invalid]="f.titulo.errors && f.titulo.touched"
                type="text"
                class="form-control"
                id="tituloInput"
                placeholder="Ingresa tu título"
              />
              <div
                id="validationServerUsernameFeedback"
                class="invalid-feedback"
              >
                Titulo del trabajo obligatorio
              </div>
            </div>

            <!-- Descripcion -->
            <div class="mb-3 descripcion">
              <label for="descripcionInput" class="form-label"
                >Descripción</label
              >
              <textarea
                formControlName="descripcion"
                [class.is-invalid]="
                  f.descripcion.errors && f.descripcion.touched
                "
                class="form-control input-descripcion"
                id="descripcionInput"
                placeholder="Ingresa tu descripción"
              ></textarea>
              <div
                id="validationServerUsernameFeedback"
                class="invalid-feedback"
              >
                Descripción del trabajo obligatoria
              </div>
            </div>

            <div class="mb-3 provincia">
              <label for="ciudadInput" class="form-label">Provincia</label>
              <input
                formControlName="provincia"
                [class.is-invalid]="f.provincia.errors && f.provincia.touched"
                type="text"
                class="form-control"
                id="provinciaInput"
                placeholder="Ingresa tu provincia"
              />
              <div
                id="validationServerUsernameFeedback"
                class="invalid-feedback"
              >
                Provincia Obligatoria
              </div>
            </div>

            <!-- Ciudad -->
            <div class="mb-3 ciudad">
              <label for="ciudadInput" class="form-label">Ciudad</label>
              <input
                formControlName="ciudad"
                [class.is-invalid]="f.ciudad.errors && f.ciudad.touched"
                type="text"
                class="form-control"
                id="ciudadInput"
                placeholder="Ingresa tu ciudad"
              />
              <div
                id="validationServerUsernameFeedback"
                class="invalid-feedback"
              >
                Ciudad Obligatoria
              </div>
            </div>

            <!-- Salario -->
            <div class="mb-3 salario">
              <label for="salarioInput" class="form-label">Salario</label>
              <input
                formControlName="pago"
                [class.is-invalid]="f.pago.errors && f.pago.touched"
                type="text"
                class="form-control"
                id="salarioInput"
                placeholder="Ingresa tu salario"
              />
              <div
                id="validationServerUsernameFeedback"
                class="invalid-feedback"
              >
                Pago Obligatorio
              </div>
            </div>

            <!-- Categoria -->
            <div class="mb-3 categoria">
              <label for="categoriaSelect">Categoria</label>
              <select
                formControlName="id_categoria"
                class="form-select"
                [class.is-invalid]="
                  f.id_categoria.invalid && f.id_categoria.touched
                "
              >
                <option selected disabled hidden value="">
                  Seleccione una Categoría
                </option>
                <option
                  *ngFor="let categoria of categoriasList"
                  [ngValue]="categoria.id_categoria"
                >
                  {{ categoria.categoria }}
                </option>
              </select>
              <div
                id="validationServerCategoriaFeedback"
                class="invalid-feedback"
              >
                Debe seleccionar una categoría
              </div>
            </div>

            <ng-container
              *ngIf="mode != estado.Mostrar; else gestionPostulantes"
            >
              <div class="mb-3 boton conBoton">
                <ng-container *ngIf="mode == estado.Crear; else botones">
                  <button
                    class="btn btn botones btnPublicar"
                    [disabled]="!myForm.valid"
                  >
                    Publicar
                  </button>
                </ng-container>

                <ng-template #botones>
                  <button
                    class="btn btn botones btnPublicar"
                    [disabled]="!myForm.valid"
                  >
                    Modificar
                  </button>
                </ng-template>

                <a
                  class="btn btn botones btnCancelar"
                  [routerLink]="'/sesion/ListaPublicaciones'"
                  >Cancelar</a
                >
              </div>
            </ng-container>
            <ng-template #gestionPostulantes>
              <!-- <button class="btn btn-warning" (click)="cerrarPublicacion(publicacion.id_publicacion)">
                Cerrar Publicación
              </button> -->
            </ng-template>

            <br /><br /><br />

            <ng-container *ngIf="mode == estado.Mostrar">
              <app-lista-postulantes
                [publicacion]="publicacion"
              ></app-lista-postulantes>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
