.componente-derecha {
  margin-left: 250px;
  padding: 1rem;
  font-family: 'Geologica', sans-serif;
  margin-bottom: 60px;
  min-height: 100vh;
}

.BarraNav-principal{
  background-color: #FF9933;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;  /* Añade este estilo para eliminar el relleno a la izquierda */
  padding-right: 0; /* Añade este estilo para eliminar el relleno a la derecha */
  box-sizing: border-box; /* Asegura que el ancho incluye el relleno y el borde */

}

body, html {
  margin: 0;
  padding: 0;
}

.div_navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
}
.navLetras{
  color: white;

}
#navbarNavAltMarkup{
  color: white;
}
.navLetras .nav-link {
  color: white;
}
.navLetras .nav-link.active {
  color: white;
  font-weight: bold;
  background-color: #666666;
}
.nav-link{
  transition:color 0.3s ;
}
.navLetras .nav-link:hover {
  color: white;
  background-color:#CC6666 ;
  font-family: 'Geologica', sans-serif;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  position: fixed;
  top: 0; /* Puedes ajustar este valor según sea necesario */
  right: 200px; /* Coloca el contenedor en el extremo derecho */
  margin: 20px;
}

.search-input {
  padding: 8px;
  border: 2px solid #666666;
  border-radius: 4px;
  margin-right: 8px;
  width: 450px
}

.search-button {
  padding: 8px 12px;
  background-color: #006666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.divBarra{
  color:#434242;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 0;
  height: auto;
  width: auto;
}
.barra_Publicacion{
  background: url('/assets/imagen/FONDO_CON_GRAFICA_1.png') center/cover no-repeat;
  width: auto;
  height: auto;
}

.barra_Publicacion .nav-link{
 // width: 100%;
  //height: 130px;
  padding: 2rem;
  font-family: 'Geologica', sans-serif;
  font-size: 17px;
  text-align: left;
  color:white;
  //background-color:#756AB6;
  height: auto;
  width: auto;
}

#barLateral .nav-link:hover{
  color: white;
  font-weight: bold;
  background-color: #FF9933;
  transition: background-color 0.3s ease;
  font-size: 18px; /* Tamaño de fuente más pequeño */
  width: 100%; /* Ancho al 100% del contenedor */
  //padding: 2px;
  text-align: center;
  height: auto;
  width: auto;
}

#barLateral .nav-link.active{
  color: white;
  font-weight: bold;
  background-color: #CC6666;
}

.boton {
  text-align: center;
}

.botones {
  color: white;
  font-family: 'Geologica', sans-serif;
  margin-right: 50px;
}

.titulo{
  font-family: 'Geologica', sans-serif;
  text-align: left;
}
.invalid-feedback{
  font-family: 'Geologica', sans-serif;
  text-align: left;
}
.descripcion{
  text-align: left;
  font-family: 'Geologica', sans-serif;
}

.input-descripcion {
  width: 100% !important;
  height: 100px !important;
}

.provincia{
  text-align: left;
  font-family: 'Geologica', sans-serif;
}
.ciudad{
  text-align: left;
  font-family: 'Geologica', sans-serif;
}
.salario{
  text-align: left;
  font-family: 'Geologica', sans-serif;
}
.categoria{
  text-align: left;
  font-family: 'Geologica', sans-serif;
}


.btnPublicar{
  background: url('/assets/imagen/BOTON_5.png') center/cover no-repeat;
  cursor: pointer;
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align:center;
  width: 200px;
}
.btnCancelar{
  background: url('/assets/imagen/BOTON_7.png') center/cover no-repeat;
  cursor: pointer;
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align:center;
  width: 200px;
}

.btn.btn-primary{
  background-color: #006666;
}
.btn.btn-secondary{
  background-color: #cc6666;
}
.tituloPostu
{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


/* Estilo personalizado para el contenedor principal */



/* Estilo para el componente app-lista-postulantes */
app-lista-publicaciones {
  /* Ajusta el ancho según sea necesario */
  width: 100%; /* Puedes ajustar este valor según tus necesidades */
  max-height: calc(100vh - 100px); /* Altura máxima igual a la altura de la ventana menos la altura del footer y un espacio adicional */
  overflow-y: auto; /* Añade scroll vertical si es necesario */
}

/*Responsive*/

@media (max-width: 768px) {
  .componente-derecha {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
    margin-bottom: 30px; /* Reduzca el margen inferior */
  }
  .container, .container-md, .container-sm {
    max-width: 800px;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .botones{
    text-align: center;
    margin-bottom: 10px;
    width: 120px;
    margin-right: 10px;
  }
  .titulo {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño */
  }

  .form-label {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para las etiquetas */
  }
}

/* Estilos para pantallas aún más pequeñas (max-width: 320px) */
@media (max-width: 320px) {

  .componente-derecha {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
    margin-bottom: 10px; /* Reduzca el margen inferior */
    margin-top: 70%;
    margin-left: 0;
  }
  .search-container {
    right: 20px; /* Ajusta el espacio a la derecha */
    margin: 10px; /* Ajusta el margen */
  }
  .search-input {
    width: 200px; /* Ajusta el ancho del input de búsqueda */
  }
  .container, .container-md, .container-sm {
    max-width: 800px;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .botones{
    text-align: center;
    margin-bottom: 10px;
    width: 120px;
    margin-right: 10px;
  }
}
