<h2 class="tituloPostu">Lista de Postulantes</h2>
<ng-container *ngIf="postulantes && postulantes.length > 0; else postulantesEmpty">
  <div class="d-flex flex-row mb-2 justify-content-between">
  <div class="postulante">
    <div class="container" *ngFor="let postulante of postulantes">

      <div class="contenido">
        <h5><span class="label">Postulante:</span> {{postulante.nombre}} {{postulante.apellido}} </h5>
        <h5><span class="label">Email:</span> {{postulante.email}}</h5>
        <p></p>
      </div>

      <div class="botonesPostu">
        <button type="button" class="btn btn-primary" (click)="aceptarPostulacion(postulante.id_postulacion)">Aceptar</button>
        <button type="button" class="btn btn-secondary" (click)="rechazarPostulacion(postulante.id_postulacion)">Rechazar</button>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-template #postulantesEmpty>
  <p>No hay postulantes en este momento.</p>
</ng-template>

<h2 class="tituloPostu">Lista de Empleados Aceptados</h2>
<ng-container *ngIf="empleadosAceptados && empleadosAceptados.length > 0; else aceptadosEmpty">
  <div class="d-flex flex-row mb-2 justify-content-between">
  <div class="postulante">
    <div class="container" *ngFor="let postulante of empleadosAceptados">

      <div class="contenido">
        <h5><span class="label">Postulante:</span> {{postulante.nombre}} {{postulante.apellido}} </h5>
        <h5><span class="label">Email:</span> {{postulante.email}}</h5>
        <p></p>
      </div>

      <div class="botonesPostu">
        <button type="button" class="btn btn-primary">Calificar</button>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-template #aceptadosEmpty>
  <p>Aún no ha aceptado postulantes.</p>
</ng-template>


