.container {
  width: 70vw;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #666666;
  border-radius: 12px;
  margin-left: 30px;
  display: flex; /* Alinea los elementos hijos en una fila */
  justify-content: space-between;
  color: #666666;
}

.contenido {
  flex-grow: 1; /* Permite que el contenido ocupe todo el espacio disponible */
}

.botonesPostu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* Estilo para los botones dentro del div botonesPostu */
.botonesPostu button {
  margin-left: 10px;
  margin-right: 30px;
  align-self: flex-end;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

}

.label {
  color: #4c4c4c; /* Define el color para el texto de las etiquetas */
  font-weight:bolder;
}

.btn.btn-primary {
  background-color: #006666;
}

.btn.btn-secondary {
  background-color: #cc6666;
}
:host {
  margin-bottom: 100px; // Ajusta este valor según la altura de tu footer
}
