<div class="container" *ngFor="let postulante of postulantes">

  <div class="contenido">
    <h5><span class="label">Postulante:</span> {{postulante.nombre}} {{postulante.apellido}} </h5>
    <h5><span class="label">Email:</span> {{postulante.email}}</h5>
    <p></p>
  </div>

  <div class="botonesPostu">
    <button type="button" class="btn btn-primary" (click)="aceptarPostulacion()">Aceptar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelarPostulacion()">Rechazar</button>
  </div>
</div>
