<!-- componente-izquierda.component.html -->
<div class="componente-izquierda">
  <!-- Agrega el contenido específico de tu componente izquierdo aquí -->

    <nav class="col-md-2 col-lg-2 d-md-block bg-light sidebar barra_Publicacion">
      <div class="sidebar-sticky" id="barLateral">
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="active">
            <a *ngIf="rol===2" class="nav-link" routerLink="/sesion/publicacion">Crear publicaciones</a>
            <a *ngIf="rol===3" class="nav-link" routerLink="/sesion/contratos">Contratos aceptados</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a *ngIf="rol===2" class="nav-link" routerLink="/sesion/ListaPublicaciones">Publicaciones activas</a>
            <a *ngIf="rol===3" class="nav-link" routerLink="/sesion/contratos">Contratos cerrados</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a *ngIf="rol===2"  class="nav-link" routerLink="/sesion/ListaPubCerradas">Publicaciones cerradas</a>

          </li>
        </ul>
      </div>
    </nav>

</div>

