.componente-derecha {
  margin-left: 250px;
  padding: 1rem;
  font-family: 'Geologica', sans-serif;
  margin-bottom: 60px;
  min-height: 100vh;
}
.divBarra{
  color:#434242;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 0;
  height: auto;
  width: auto;
}

