body, html {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: 'Helvetica', sans-serif;
}

.main-container {
  border-radius: 20px;
  overflow-y: auto; /* Añade desbordamiento vertical */
  max-height: 100vh; /* Altura máxima de la sección, ajusta según sea necesario */
}
.login-form {
  border-radius: 50px;
}
.contenedor_general{
}

.formulario{
  border-radius: 25px;
  background-color: #006666;
  padding: 1rem;
  font-family: 'Geologica', sans-serif;
}

.titulo_iniciar{
  font-family: 'Geologica', sans-serif;
  text-align: center;
  color: white;
}

.email{
  font-family: 'Geologica', sans-serif;
  text-align: left;
  color: white;
}
.contrasena{
  font-family: 'Geologica', sans-serif;
  text-align: left;
  color: white;
}
.selec_Rol{
  font-family: 'Geologica', sans-serif;
  text-align: left;
  color: white;
}

.invalid-feedback{
  font-family: 'Geologica', sans-serif;
  text-align: left;
}

.btnIngresar{
  background: url('/assets/imagen/BOTON_6.png') center/cover no-repeat;
  cursor: pointer;
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align:center;

}


.registro{
  font-family: 'Geologica', sans-serif;
  text-align: left;
  padding: 1rem;
  color: white;
}
a.link{
  color: white;
}
