<!-- lista-publicaciones-cerradas.component.html -->
<div class="componente-derecha">
  <div class="container mt-3">
    <h1>Lista de Publicaciones Cerradas</h1>
    <ul class="list-group">
      <li *ngFor="let publicacion of publicaciones" class="list-group-item">
        <div class="d-flex flex-row mb-2 justify-content-between">
          <div>
            <h5><b>Publicación: </b>{{ publicacion.titulo }}</h5>
            <p><b>Descripción: </b>{{ publicacion.descripcion }}</p>
          </div>

          <button type="submit" class="btn btn-success btnIngresar" routerLink="/sesion/informacionPublicacion/{{ publicacion.id_publicacion }}">
            Más información
          </button>

        </div>
      </li>
    </ul>
  </div>

  <!-- {{publicaciones | json}} -->

</div>


