.componente-derecha {
  margin-left: 250px; /* Ajusta el margen según tus necesidades */
  padding: 1rem;
  /* Agrega otros estilos según tus necesidades */
  height: 100vh; /* Ocupará el 100% de la altura del contenedor principal */
}

